[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-filter = "*"
djangorestframework = "*"
djoser = "*"
mysqlclient = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
